.wrapper {
  display: flex;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  padding: 12px 14px;
  align-items: center;
  border: 1px solid #747775;
  background: var(--white);
  color: #1f1f1f;
  cursor: pointer;
  font-family: "Roboto", arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.25px;
  border-radius: 20px;
}

.wrapper:hover {
  opacity: 0.8;
}
