.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-cyan);
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 32px;
}
