.wrapper {
  display: flex;
  width: auto;
  gap: 24px;
  padding: 16px;
  font-weight: bold;
  font-size: 24px;
  color: var(--white);
  transition: 0.4s;
  border-radius: 6px;
}

.wrapper:hover {
  background: #008da6;
}

.disabled {
  opacity: 0.5;
  background: none;
}
